NET "led[3]" LOC = M6;
NET "led[0]" LOC = P4;
NET "led[2]" LOC = P5;
NET "led[1]" LOC = N5;
NET "led[3]" IOSTANDARD = LVCMOS33;
NET "led[2]" IOSTANDARD = LVCMOS33;
NET "led[1]" IOSTANDARD = LVCMOS33;
NET "led[0]" IOSTANDARD = LVCMOS33;


NET "clk" LOC = T8;
NET "clk" IOSTANDARD = LVCMOS33;


NET "sound" LOC = J11;
NET "sound" IOSTANDARD = LVCMOS33;


NET "press" LOC = C3;
NET "press" IOSTANDARD = LVCMOS33;